<script src="/js/index.js"></script>
<% if (isAdmin) { %>
    <script src="/js/deleteProduct.js"></script>
  <% }  %>
  <% if (isAuthenticated) { %>
    <script src="/js/removeProductFromCart.js"></script>
  <% }  %>
</body>

</html>