<%- include('includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('includes/navigation.ejs') %>
      <% if (errorMessage) { %>
        <div class="notification is-danger">
          <p><%= errorMessage %></p>
        </div>
        <% } %>
      <section class="section columns has-background-dark is-multiline">
        <div class="column is-one-quarter">

        </div>
        <div class="column is-one-quarter has-text-centered">
          <div class="section">
              <h1 class="title is-size-2 has-text-white ">Express Eccomerce</h1>
              <h2 class="is-subtitle is-size-5 has-text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae eum possimus ullam explicabo ex deleniti!</h2>
              <div class="section">
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <a class="button is-dark is-inverted is-outlined ">
                      Shop Now
                    </a>
                  </p>
                  <p class="control">
                      <a class="button is-dark is-inverted is-outlined ">
                          Learn More
                        </a>
                  </p>
                </div>
              </div>
              
          </div>
          
        </div>
        <div class="column is-one-quarter">
          <section class="section">
              <figure class="image is-square">
                  <img src="/images/acer-laptops.jpg">
                </figure>
          </section>
        </div>
        <div class="column is-one-quarter">
          
        </div>
      </section>
    <%- include('includes/end.ejs') %>